{% extends 'route/base.html' %}}


{% block content%}
<div class="container  py-3">
    <div class="mb-5 ">
        <div class="text-center">

            <form method="post">
                {% csrf_token %}
                <H1>Вы хотите удалить привычку?</H1>
                <H2>"Место:{{object.place}} Время:{{object.time}} Действие:{{object.action}}"</H2>
                <br>
                <button class="btn btn-outline-danger">Удалить</button>
                <a class="btn btn-outline-warning" href="{% url 'route:home' %}">Отмена</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}