{% extends 'route/base.html' %}}
{% load static%}

{% block content%}


<div class="container py-3">

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Навигация</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <img src="static/route/api.png">
                </div>
                <div>
                    <h2>Документация API</h2>
                    <p>API работает прямо в браузере, промежуточный ПО не требуется. Если хотите готовое решение для
                        интеграцией с вашим сайтом, я
                        написал небольшую RESTful API </p>
                    <a href="swagger/" class="btn btn-primary">Документация</a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#cpu-fill"></use>
                    </svg>
                </div>
                <div>
                    <h2>Маршруты</h2>
                    <p>Абзац текста под заголовком, поясняющий заголовок. Мы добавим к нему еще одно предложение и,
                        вероятно, просто продолжим, пока у нас не закончатся слова.</p>
                    <a href="#" class="btn btn-primary">
                        Основная кнопка
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#tools"></use>
                    </svg>
                </div>
                <div>
                    <h2>Избранный заголовок</h2>
                    <p>Абзац текста под заголовком, поясняющий заголовок. Мы добавим к нему еще одно предложение и,
                        вероятно, просто продолжим, пока у нас не закончатся слова.</p>
                    <a href="#" class="btn btn-primary">
                        Основная кнопка
                    </a>
                </div>
            </div>
        </div>
    </div>


    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
           aria-controls="collapseExample">
            Маршруты пользователя
        </a>
    </p>


    <div class="collapse" id="collapseExample">
        <div class="row card card-body">

            <H1>Все маршруты пользователя</H1>
            <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
                <table class="table table-bordered ">


                    <thead class="m-0 p-0">
                    <tr class="text-center" style="background-color:#7ab3ef">
                        <th scope="col">Маршрут "Отправления"</th>
                        <th scope="col"></th>
                        <th scope="col">Маршрут "Прибытия"</th>
                        <th scope="col">-</th>
                        <th scope="col">-</th>
                        <th scope="col">Кол-во АЗС</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>


                    {% for object in object_list %}
                    {% if object.user == user %}
                    <tr class="text-center">
                        <td class="text-center">{{object.start_title|default_if_none:"-"}}</td>
                        <td><strong>→</strong></td>
                        <td>{{object.end_title|default_if_none:"-"}}</td>
                        <td>{{object.r}}</td>
                        <td>{{object.r}}</td>
                        <td>{{object.i}}</td>
                        <td>
                            <div class="container">

                                <div class="row">
                                    <div class="col m-0 p-0">
                                        <a href="{% url 'route:view' object.pk  %}"
                                           class="btn btn-outline-primary btn-sm">Просмотр</a>
                                        {% if object.user == request.user %}
                                        <a href="{% url 'route:update' object.pk  %}"
                                           class="btn btn-outline-secondary btn-sm">Изменить</a>
                                        <a href="{% url 'route:delete' object.pk  %}"
                                           class="btn btn-outline-danger btn-sm">Удалить</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <br>
</div>


{% endblock %}

